html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{appname} - Auth
        link(rel="icon", href="/favicon.svg", type="image/svg")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/auth.css")
    body 
        div.auth-body
            h1 Вход
            form(action="/api/auth/login", method="POST", enctype="application/x-www-form-urlencoded")
                p Почта
                input(name="email", type="email", placeholder="example@test.com", required)
                p Пароль
                input(name="password", type="password", placeholder="********", required)
                input(type="submit", value="Войти")

            div.other-actions
                p Нет аккаунта? 
                    a(href="/auth/register") Регистрация
                
                p Забыли пароль? 
                    a(href="/auth/restore") Сброс  

            if (error)
                p.error #{error}
