html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Маршруты - #{appname}
        link(rel="stylesheet", href="/css/global.css")
    body 
        button(onclick="(function(){navigation.back()})()") Назад

        h2 Маршруты от других пользователей

        if recommendations
            for recommended in recommendations
                li.recommendation 
                    a(href="/travels/view?id=" + recommended.id)
                        h3 #{recommended.name}
                        p #{recommended.description}
        else 
            p Тут пусто...
                    
        a(href="/travels/new") Создать свой маршрут