html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Новый маршрут - #{appname}
        link(rel="stylesheet", href="/css/global.css")
    body
        button(onclick="(function(){navigation.back()})()") Назад

        form(action="post")
            input(type="text", placeholder="Название маршрута", name="m_name", required)
            textarea(placeholder="Описание", name="name", cols=30, rows=5, required)
            select(name="town", placeholder="Город", required)
                option(value="not-a-town") Город...
                if towns
                    for town in towns
                        option(value="#{{town.id}}") #{town.name}
                        
            hr

            //- TODO: add activity logic
            input.add(type="button", value="Добавить поле")
            div.activities

            hr

            input(type="submit", value="Создать")

    script(src="/js/travels/new.js")